body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
  }
  
  header {
    background-color: rgba(255, 98, 0, 0.1);
    text-align: center;
    padding: 1rem 0;
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  main {
    padding: 2rem;
  }
  
  .menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem;
    width: 80%; 
    border: 2px solid #FF6200;
    border-radius: 15px;
    overflow: hidden;
    background: rgba(255, 98, 0, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .menu-section.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .menu {
    width: 45%; 
    padding: 1rem;
  }
  
  .menu h2 {
    color: #FF6200;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu li {
    padding: 0.5rem 0;
    font-size: 1.1rem;
  }
  
  .image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .smoke {
    position: absolute;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 20%, transparent 70%);
    width: 30px;
    height: 30px;
    opacity: 0;
    border-radius: 50%;
    z-index: 1;
    animation: rise 6s infinite ease-in-out;
}


@keyframes rise {
    0% {
        transform: translate(0, 0) scale(0.8);
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        transform: translate(0, -200px) scale(1.5);
        opacity: 0;
    }
}
